POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=BankingDb
POSTGRES_PORT=5435

RABBITMQ_USER=root
RABBITMQ_PASSWORD=change-me
RABBITMQ_PORT=5673
RABBITMQ_MANAGEMENT_PORT=15673

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me
KEYCLOAK_PORT=8081
KEYCLOAK_DB=BankingKeycloakDb